/* styles.css */

body {
    font-family: monospace;   /*Inter, sans-serif; */
    color: #ccc7c7bd;
    margin: 0;
    font-size: 14px !important;
    line-height: 1.2;
    background-color: rgb(42, 42, 42);
}

.top-bar {
    background-color: black;

} 
.file-title {
    background-color: rgb(42, 42, 42);
    position: relative;
    padding: 1rem;
    left: 3rem;
}

h1 {
    color: #ccc7c7;
    margin: 0;
}

.type {
    color: #b38d4c;
}
.op {
    color: blue;
}

.keyword {
    color: #b37f27;
}
.name, .misc {
    color: white;
}

.op {
    color: pink;
}

.string {
    color: orange;
}
.comment {
    color: #008400;
}

.indent {
    border-left:1px dashed gray;
    padding-left:2rem;
    margin-left:3px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding:1rem 0 0 0;

}

li {
    margin-bottom: 10px;
}

a:hover {
    text-decoration: underline;
}

#container {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: start;
    padding: 1rem;
}
