html,
body {
    height: 100%;
    width: 100%;
    background: #f7f7f7;
    font-family: "helvetica";
    overflow: hidden;
}

h1 {
    text-align: center;
}


canvas {
    border: 2px solid black;
    border-radius: 3px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.controls {
    margin-top: 10px;
    display: flex;
    justify-content: center;

}

.item {
    vertical-align: middle;
    border: none;
    margin: 5px;
    height: 20%;
}

.button-like {
    border: 1px solid rgb(0, 0, 0);
    padding: 2px 5px;
    border-radius: 2px;
    background: inherit;
}

.button-like:hover {
    background: #e0e0e0;
}

#algorithms {
    padding: 0px 5px;
}